<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/Styles/error.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Invalid link</title>
  </head>

  <body>
    <header>
        <img id="logo" src="views/Resources/Logo.png" alt="logo-img"/>
    </header>
    <div class="product">
      <div class="details">
        <h3>Oops, looks like this link is invalid or expired.</h3>
        <a href="login.php">Go to XYZsoftware.com</a>
      </div>
    </div>
  </body>
</html>
